@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #FF8C64, #FF665A);
}
main{
    background-color: #f5dcdb;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #9c3d37;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FF665A;
    text-align: center;
    text-shadow: 1px 1px 0px #9c3d37;
}

h2{
    color: #e65349;
}
p{
    text-align: justify;
}